@page
@model MyApp.Areas.User.Pages.Profile.IndexModel
@{
}

<h1>Profile</h1>
<hr />
<img  src="@Model.Image" alt="profile"/>
<p>
    First Name : @Model.FirstName
</p>
<p>
    Last Name : @Model.LastName
</p>
<p>
    Email : @Model.Email
</p>